---
layout: default
title: Portfolio
description: Aplikasi web, landing page, dan mini apps yang telah saya buat selama ini.
---

<section class="mt-16">
  {% include avatar.html %}
  <h1 class="text-primary">{{ page.title }}</h1>
  <p>{{ page.description }}</p>
</section>

<section class="mt-16">
  <h2 class="section-title">Aplikasi Web</h2>

  {% for web_app in site.data.web_apps %}
    <a href="{{ web_app.url }}">
      <article class="flex p-0 tilt-and-zoom">
        <img src="{{ web_app.image_url }}" class="project-image project-image--icon" alt="{{ web_app.name }}">
        <div class="p-4 pl-6 flex flex-col justify-center w-full overflow-hidden">
          <h3 class="project-title">{{ web_app.name }}</h3>
          <small class="block line-wrap">{{ web_app.url }}</small>
        </div>
      </article>
    </a>
  {% endfor %}
</section>

<section class="mt-16">
  <h2 class="section-title">Company Profile</h2>

  {% for profile in site.data.company_profiles %}
    <a href="{{ profile.url }}">
      <article class="flex p-0 tilt-and-zoom">
        <img src="{{ profile.image_url }}" class="project-image project-image--icon" alt="{{ profile.name }}">
        <div class="p-4 pl-6 flex flex-col justify-center w-full overflow-hidden">
          <h3 class="project-title">{{ profile.name }}</h3>
          <small class="block line-wrap">{{ profile.url }}</small>
        </div>
      </article>
    </a>
  {% endfor %}
</section>

<section class="mt-16">
  <h2 class="section-title">Mini Apps</h2>

  {% for mini_app in site.data.mini_apps %}
    <a href="{{ mini_app.url }}">
      <article class="flex p-0 tilt-and-zoom">
        <img src="{{ mini_app.image_url }}" class="project-image project-image--icon" alt="{{ mini_app.name }}">
        <div class="p-4 pl-6 flex flex-col justify-center w-full overflow-hidden">
          <h3 class="project-title">{{ mini_app.name }}</h3>
          <small class="block line-wrap">{{ mini_app.url }}</small>
        </div>
      </article>
    </a>
  {% endfor %}
</section>

