---
layout: default
title: "Ebook & Newslettter"
description: List e-book dan tulisan yang saya tulis di sela-sela ngoding.
---

<section class="mt-16">
  {% include avatar.html %}
  <h1 class="page-title">{{ page.title }}</h1>
  <p class="page-description">{{ page.description }}</p>
</section>

<section class="mt-16">
  <h2 class="section-title">E-book</h2>

  <div class="grid">
    {% for ebook in site.data.ebooks %}
      <article class="p-0 overflow-hidden">
        <header class="pb-0">
          <figure>
            <img src="{{ ebook.image_url }}" class="ebook-image" alt="{{ ebook.name }}">
          </figure>
        </header>

        <section class="px-4">
          {% if ebook.sale_price %}
          <small class="text-muted"><s>{{ ebook.price }}</s></small>
          <small class="text-green">{{ ebook.sale_price }}</small>
          {% else %}
            <small class="text-green">{{ ebook.price }}</small>
          {% endif %}
          <h3 class="text-primary">{{ ebook.name }}</h3>
          <p>{{ ebook.description }}</p>
          <a href="{{ ebook.url }}" role="button" target="_blank">Pelajari lebih lanjut</a>
        </section>
      </article>
    {% endfor %}
  </div>

  <section class="mt-16">
    <h2 class="section-title">Newsletter</h2>

    <div>
      <ul>
        {% for newsletter in site.data.newsletters %}
        <li>{{ newsletter.date }} – <a target="_blank" href="{{ newsletter.url }}">{{ newsletter.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
