$bodyFont: "PT Serif";

@font-face {
  font-family: "PT Serif";
  src: url('/assets/fonts/PTSerif-Bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url('/assets/fonts/PTSerif-Regular.ttf') format('truetype');
  font-display: swap;
}

*[role="button"], article, input, select, input[type=submit] {
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Serif", sans-serif;
}

a:has(> article) {
  text-decoration: none;
}

a article p {
  color: var(--pico-h2-color);
}

article {
  border: 1px solid var(--pico-blockquote-border-color);
  transition: transform .3s ease-in-out;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
}
article.tilt-and-zoom:hover {
  transform: rotate(-.5deg) scale(1.025);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", sans-serif;
}

.w-full { width: 100%; };
.block { display: block; }
.mt-4 { margin-top: 1rem; }
.mb-0 { margin-bottom: 0; }
.mb-4 { margin-bottom: 1rem; }
.mt-8 { margin-top: 2rem; }
.mb-8 { margin-bottom: 2rem; }
.pl-6 { padding-left: 1.5rem!important; }
.pr-6 { padding-right: 1.5rem!important; }
.mt-16 { margin-top: 4rem; }
.mt-20 { margin-top: 5rem; }
.p-0 { padding: 0; }
.pb-0 { padding-bottom: 0; }
.pt-0 { padding-top: 0; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.p-4 { padding: 1rem; }
.overflow-hidden { overflow: hidden; }
.inline-block { display: inline-block; }
.project-image {
  width: 100%;
  object-fit: cover;
  max-height: 250px;
}

.ebook-image {
  width: 100%;
  object-fit: cover;
}

.icon {
  border-radius: 999px;
  width: 72px;
  height: 72px;
}

.flex { display: flex; }
.flex-col { flex-direction: column; }
.gap-4 { gap: 1rem; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.text-center { text-align: center; }
.text-green { color: #00A66E; }
.text-primary { color: var(--pico-primary-background); }
.text-gray { color: var(--pico-muted-color); }
.text-muted { color: var(--pico-muted-color); }

.section-title {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
  color: var(--pico-primary-background);
}
.section-title::after {
  content: "";
  width: 100%;
  border: 1px solid var(--pico-primary-background);
  border-bottom: 0;
}
.page-title {
  font-size: 1.375rem;
  margin-bottom: .5rem;
  text-align: center;
  color: var(--pico-primary-background);

  & a {
    text-decoration: none;
  }
}
.page-description {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.sticky-top {
  background-color: var(--pico-background-color);
  position: sticky;
  padding-bottom: 4px;
  padding-top: 4px;
  top: 0;
  z-index: 999;
}

.mr-2 { margin-right: 0.5rem; }
.h-max { height: max-content; }
.block { display: block; }
.project-image--icon {
  max-width: 100px;
  aspect-ratio: 1;

  @media (width >= 48rem) {
    max-width: 125px;
  }
}
.project-title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.navbar-sticky-top {
  position: sticky;
  top: 1rem;

  & article {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);

    & a {
      text-decoration: none;
      color: var(--pico-muted-color);
    }

    @media (width >= 48rem) {
      gap: 1rem;
    }

    @media (prefers-color-scheme: dark) {
      background-color: rgba(24, 28, 37, 0.9);
    }
  }
}
.line-wrap {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w-max { width: max-content; }
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rounded-full { border-radius: 9999px; }
.active { color: var(--pico-color)!important; }
.mt-0 { margin-top: 0; }
.post-title { font-size: 1.25rem; }
